body {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #eee;
    color: white;
    position: absolute;
  }

#videobg {
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    position: fixed;
}

#glass {
    background-color:#ff0f04;
    margin:0 auto;
    background-color: rgba(255, 4, 4, 0.1);
    background: rgba(255, 4, 4, 0.1);
  }