<!DOCTYPE html>
<html ng-app>
    <head>
		<meta charset="utf-8">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" type="text/css" href="login.css" />
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.2/angular.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="loginController.js"></script>
        
        <title>Login</title>
    </head>
    <body>
        <form role="form" ng-controller="LoginController" ng-submit="salvar()">
            
			<div class="form-group">
				<label name="lbUsuario" for="nmUsuario">Usuário:</label>
				<input type="text" class="form-control" name="nmUsuario" id="nmUsuario" ng-model="nmUsuario" ><br>
		   
				<label name="lbUsuario" for="deSenha">Senha:</label>
				<input type="password" class="form-control" name="deSenha" id="deSenha" ng-model="deSenha" ><br>
				
				<input type="submit" class="btn btn-default" id="submit" value="Submit" /> <a href="url">Esqueceu a Senha!</a>
			</div>
			
            
            
        </form>
    </body>
</html>